<div class="container">
    <table class="table table-hover">
        <thead>
            <th>Id</th>
            <th>Category Names</th>
            <th>Products</th>
        </thead>
        <tbody>
            {{ data.map( datum => {)}}
                <tr>
                    {{ console.log(datum); }}
                    <td>{{ datum.id }}</td>
                    <td>{{ datum.category_names }}</td>
                    <td>{{ datum.products }}</td>
                </tr>
            {{ }); }}
        </tbody>
    </table>
</div>
